<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/black-and-white-bird-flying-over-the-sea-4529130.jpg">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/photos-website/photos.css">
    <title>No Vacation - Photos</title>
</head>

<body>
    {{{body}}}
</body>

</html>