<h1>Cadastro de pagamento</h1>
<form action="/add-pagamento" method="POST">
    <label for="#loginInput">Login</label>
    <input id="loginInput" type="text" name="login">

    <label for="#passwordInput">Password</label>
    <input id="passwordInput" type="password" name="password">

    <button type="submit">Register</button>
</form>