<main>
    <form action="/Auth/check-signin" method="POST" class="form clearfix">
        <div class="header-container">
            <img id="logo-img" src="/assets/black-and-white-bird-flying-over-the-sea-4529130.jpg" alt="logo">

            <h1 class="form-title">No Vacation</h1>
        </div>

        <div class="input-container">
            <input type="text" name="txtLogin" id="loginForm" placeholder="Login" />

            <input type="password" name="txtPassword" id="passwordForm" placeholder="Password" />

            <button type="submit" id="btn-signin">Sign In</button>
        </div>
    </form>
</main>